@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
  --theme-back-0: #0d0d0d;
  --theme-back-1: #151515;
  --theme-back-2: #252525;
  --theme-back-3: #353535;
  --theme-back-4: #454545;

  --theme-accent-0: #00177d;
  --theme-accent-1: #024aca;
  --theme-accent-2: #0a89ff;
  --theme-accent-3: #5ba8ff;

  --text-0: #acacac;
  --text-1: #FFF;

  --gap: 16px;
  --sidebar-width: 360px;
}

body {
  width: calc(100vw - (var(--gap) * 2));
  height: calc(100vh - (var(--gap) * 2));
  background: var(--theme-back-1);
  color: var(--text-1);
  font-family: 'Montserrat';
  margin: 0px;
  padding: var(--gap);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

h1 {
  font-weight: 1000;
  margin: 0px;
}

p {
  margin: 0px;
}

/* Popup Styling */

.popup-line {
  display: flex;
  gap: 16px;
}

.popup-input {
  color: var(--theme-text-1);
  background: var(--theme-back-1);
  border: none;
  border-radius: 8px;
}

.popup-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Popup Repeats Input */

.popup-input-repeats-button {
  width: calc(100% - 16px);
  height: min-content;
  color: var(--theme-text-1);
  background: var(--theme-back-1);
  border: none;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.popup-input-repeats-panel {
  width: calc(480px - 30px);
  height: calc(240px - 30px);
  background: var(--theme-back-3);
  border-radius: 15px;
  padding: 15px;
  position: absolute;
  margin-top: 60px;
  display: none;
}

.popup-input-repeats-panel[active] {
  display: inline;
}

.popup-header {
  font-size: 40px;
}